
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<h1>THIS IS CONTACT PAGE</h1>

<h3>ViewData data is = @ViewData["v1"]</h3>

<h3>Viewbag data is = @ViewBag.v2</h3>

<h3>TempData data is = @TempData["v3"]</h3>
<h3> session data =@Session["v4"]</h3>

