
@{
    ViewBag.Title = "About";
}
<nav>
    <ul>
        <li> @Html.ActionLink("Home Page", "Index", "Home")</li>
        <li> @Html.ActionLink("Aboutus Page", "About", "Home")</li>
        <li> @Html.ActionLink("Contactus Page", "Contact", "Home")</li>



    </ul>

</nav>
<h2>About</h2>
<h3> THIS IS ABOUT PAGE</h3>

