
@{
    ViewBag.Title = "Index";
}
<nav>
    <ul>
        <li> @Html.ActionLink("Home Page", "Index", "Home")</li>
        <li> @Html.ActionLink("Aboutus Page", "About", "Home")</li>
        <li> @Html.ActionLink("Contactus Page", "Contact", "Home")</li>



    </ul>

</nav>
<h2>Index</h2>
<h3> THIS IS INDEX PAGE</h3>
